<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>登陆页面</title>
<link href="/static/css/account/login.css" type="text/css" rel="stylesheet">
</head>
<body>

<!-- 	<span style="color:red"> -->
<!-- 	<c:if test="${error!=null}"> -->
<!-- 		${error } -->
<!-- 	</c:if> -->
<!-- 	</span> -->
	<div id="loginForm">
		<form action="login.do" method="post">
			<div id="user">
				用户名：<input name="username" type="text" /><br/>
			</div>
			<div id="pass">
				密&nbsp;码：<input name="password" type="password" /><br/>
			</div>
			<div id="control">
				<input type="submit" value="登陆" />
				<a href="register.jsp">注册</a>
				<a href="register.jsp">找回密码</a>
			</div>
		</form>
	</div>
	
</body>
</html>