<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jisonami.mybatis.mapper.BlogTypeMapper">
	
	<insert id="save" parameterType="BlogType">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			select sys_guid() from dual
		</selectKey>
		insert into t_blogtype(id,blogAuthor,name) values(#{id},#{blogAuthor},#{name})
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from t_blogtype where id = #{id}
	</delete>
	
	<update id="edit" parameterType="BlogType">
		update t_blogtype set blogAuthor = #{blogAuthor}, name = #{name} where id = #{id}
	</update>
	
	<select id="queryByAuthor" parameterType="String" resultType="BlogType">
		select * from t_blogtype where blogAuthor = #{blogAuthor}
	</select>
	
	<select id="queryById" parameterType="String" resultType="BlogType">
		select * from t_blogtype where id = #{id}
	</select>
	
</mapper>


