<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jisonami.mybatis.mapper.BlogMapper">

	<insert id="save" parameterType="Blog">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			select sys_guid() from dual
		</selectKey>
		insert into t_blog(id,title,content,blogType,author,publishTime) values(#{id},#{title},#{content},#{blogType},#{author},#{publishTime})
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from t_blog where id = #{id}
	</delete>
	
	<update id="edit" parameterType="Blog">
		update t_blog set title = #{title}, content = #{content}, blogType = #{blogType}, author = #{author}, editTime = #{editTime} where id = #{id}
	</update>
	
	<select id="query" resultType="Blog">
		select * from t_blog
	</select>
	
	<select id="queryById" parameterType="String" resultType="Blog">
		select * from t_blog where id = #{id}
	</select>
	
	<select id="queryByAuthor" parameterType="String" resultType="Blog">
		select * from t_blog where author = #{author}
	</select>
	
	<select id="queryByBlogType" parameterType="String" resultType="Blog">
		select * from t_blog where blogtype like '%${value}%'
	</select>
	
	<select id="blogCountByBlogType" parameterType="String" resultType="int">
		select count(*) from t_blog where blogtype like '%${value}%'
	</select>
	
</mapper>


