@import "../common/common.css";

.headermenu{
	margin:0px auto;
	padding:5px;
	width:930px;
}
#logo{
	float:left;
}
#menu{
	float:right;
	width:800px;
}
#sitemenu{
	float:left;
}
#usermenu{
	float:right;
}

.header{
	margin:5px auto;
	padding:15px;
	width:930px;
	height:64px;
	background:#E6E6E6;
}
#myblog{
	font-size:32px;
	font-weight: bold;
}

/* �м�������ʽ */
.content{
	margin:5px auto;
	padding:0px;
/* 	background:#E2E2E2; */
	width:960px;
	height:720px;
/* 	border:1px solid #A0A0A0; */
}

#blogmenu{
	float:left;
	padding:20px;
	width:170px;
	border:1px solid #A0A0A0;
}

#blogcontent{
	float:right;
	padding:15px;
	width:700px;
	border:1px solid #A0A0A0;
}
#blogtitlleheader{
	display:inline-block;
	width:350px;
}
#publishtimeheader{
	display:inline-block;
	width:100px;
}
#blogtypeheader{
	display:inline-block;
	width:100px;
}
#blogmanagerheader{
	display:inline-block;
	width:100px;
}
#blogtitlle{
	display:inline-block;
	width:300px;
}
#publishtime{
	display:inline-block;
	width:100px;
}
#blogtype{
	display:inline-block;
	width:100px;
}
#blogmanager{
	display:inline-block;
	width:100px;
}

.footer{
	margin:0 auto;
	padding:15px;
	width:930px;
	height:16px;
/* 	background:#E2E2E2; */
}
.copyright{
	margin-left:26%;

